  footer {
      background-color:  #111111;
      color: white;
      padding: 15px;
      margin-top: 50px;
      font-family:'PT Sans Narrow',Arial,sans-serif;
      font-weight:700;
      text-align: center;
      
    }