
.navbar
{
    background-color: #222222 !important;
    text-transform:uppercase;
    font-family:'PT Sans Narrow',Arial,sans-serif;
    font-weight:700;
}

.nav a
{
    color: #fff !important;
    opacity: 0.7;
}

.nav a:hover
{
    opacity: 1;
    background-color: #111111 !important;
}

.logo 
{
    margin-top: -12px !important;
    
}
