
.navbar
{
    background-color: #ffffff !important;
    text-transform:uppercase;
    font-family: 'Arimo', sans-serif;
    font-weight:700;
}

.nav a
{
    color:black !important;
    opacity: 0.7;
}

.nav a:hover
{
    opacity: 1;
}

.logo 
{
    margin-top: -12px !important;
    
}

.navbar-brand:hover
{
       box-shadow: 1px 1px 2px 2px grey;
}
