<!--navigation-->
<div id="myNavbar" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href = "{{"/"| prepend:site.baseurl}}" class="navbar-brand">
                <img src="/images/logo.jpeg" class="logo"></a>
         </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
           <!-- <li><a href="{{"/what_do_we_do"| prepend:site.baseurl}}">What Do We Do</a></li>-->
            <li><a href="{{"/how-we-do-it"| prepend:site.baseurl}}">How Do We Do</a></li>
            <li><a href="{{"/our-team"| prepend:site.baseurl}}">Our Team</a></li>
            <li><a href="{{"/join-us"| prepend:site.baseurl}}">Join Us</a></li>
            <li><a href="{{"/contact-us"| prepend:site.baseurl}}">Contact Us</a></li>
        </ul>
    </div>
    </div>
</div>